:root {
  --background-color-01: rgb(transparent);
  --background-color-02: rgb(169, 139, 93);
  --background-color-03: rgb(0, 0, 0);
  --background-color-04: rgb(44, 44, 44);
  --background-color-05: rgb(219, 181, 124);
  --border-color-01: rgb(122, 122, 122);
  --border-color-02: rgb(212, 212, 212);
  --font-color-01: rgb(47, 47, 47);
  --font-color-02: rgb(255, 255, 255);
  --font-color-03: rgb(255, 105, 97);
  --font-color-04: rgb(73, 38, 38);
  --font-color-05: rgb(26, 11, 11);
  --btn-color: rgb(107, 55, 55);
  --btn-color-hover: rgb(136, 72, 72);
}

.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-01);
}

body {
  margin: 0;
  font-family: "Lora", serif;
  overflow-x: hidden;
}

.nav-container-item-02 {
  display: none;
  visibility: hidden;
}

.nav-bar-button {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 2rem;
}

.mobile-menu {
  transform: translateY(-10%);
  background-color: white;
  z-index: 999;
  transition: 0.1s;
  height: 110vbh;
  width: 100%;
  animation: fadein;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.menu-icon {
  cursor: pointer;
}

.menu-title {
  margin-left: 2rem;
  user-select: none;
  font-size: 24px;
  animation: fadetext;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mobile-menu-list {
  height: 100vh;
  margin-right: 3rem;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30%;
  align-items: center;
}

.mobile-menu-list-item {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 42px;
  border-bottom: 1px solid var(--font-color-04);
}

.link-menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color-01);
  z-index: 1000;
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 0.5rem 0 0.5rem;
  margin: -2em;
  transition: 0.2s;
  border-radius: 15px;
}

label{
  user-select: none;
}

.nav-container-item-01 {
  width: 100%;
  height: 5rem;
  background-color: var(--background-color-01);
  display: flex;
  flex-direction: row;
  z-index: 960;
  user-select: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

#dropdown-item-01 {
  cursor: pointer;
}

.link-dropdown {
  color: var(--font-color-01);
}

.link-dropdown:hover {
  color: var(--font-color-04);
}

.item-02 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 3rem;
}

a:link {
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color-01);
  z-index: 1;
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 1em;
  margin: -2em;
  transition: 0.2s;
  border-radius: 15px;
}

.link-menu-item:hover {
  color: var(--font-color-04);
  text-decoration: none;
}

.link-packages {
  color: var(--font-color-02);
  text-decoration: none;
}

.link-packages:hover {
  color: var(--font-color-02);
}

.link:hover {
  color: var(--font-color-02);
  background-color: var(--background-color-04);
}

.item-03 {
  margin-right: 2rem;
  transition: 0.2s;
}

.item-01 {
  margin: 0 5rem 0 5rem;
  transition: 0.2s;
  /* display: flex;
  flex-direction: row; */
}

.sub-item-02 {
  color: var(--font-color-03);
}

/* .item-01:hover{
  background-color: var(--background-color-01);
  color: var(--font-color-02);
} */

.projects-wrapper {
  height: 73rem;
  display: flex;
  justify-content: center;
}

.projects-info {
  color: var(--font-color-01);
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 96px;
  font-style: italic;
  animation: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  user-select: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer-wrapper {
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(
    var(--background-color-01) 10%,
    var(--background-color-02) 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 
.links{
  display: flex;
  flex-direction: row;
} */

.footer-info {
  margin-top: 0.6rem;
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
  color: var(--font-color-03);
}

.home-wrapper {
  height: 100%;
}

.hero {
  /* background-image: url("./Images/image-hero.jpg"); */
  /* background: radial-gradient(var(--background-color-01) 20%, rgb(0, 0, 0)); */
  color: var(--font-color-01);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60rem;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 900;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero-background-container-01 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* margin-left: 10rem; */
  /* margin-top: 10rem; */
  user-select: none;
}

.hero-background-container-02 {
  user-select: none;
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  /* margin-left: 10rem;
  margin-top: 10rem; */
}

.hero-background-img-01 {
  transform: translate(0, 0%);
  transition: 0.2s;
  object-fit: contain;
  width: 45rem;
  border: 1px solid transparent;
  border-radius: 15px;
  animation: fadeimg01;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card-background-img-01 {
  transition: 0.2s;
  object-fit: contain;
  width: 25rem;
  border: 1px solid transparent;
  border-radius: 15px;
}

@keyframes fadeimg01 {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.hero-background-img-02 {
  transition: 0.2s;
  transform: translate(20%, 0%);
  object-fit: contain;
  width: 15rem;
  border: 1px solid transparent;
  border-radius: 15px;
  animation: fadeimg02;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeimg02 {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.hero-background-img-03 {
  transition: 0.2s;
  /* transform: translate(0, -5%); */
  object-fit: contain;
  width: 45rem;
  border: 1px solid transparent;
  border-radius: 15px;
  animation: fadeimg03;
  animation-duration: 0.5s;
  animation-delay: 1.25s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeimg03 {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.hero-background-img-04 {
  transition: 0.2s;
  transform: translate(20%, 0);
  object-fit: contain;
  width: 15rem;
  border: 1px solid transparent;
  border-radius: 15px;
  animation: fadeimg04;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeimg04 {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.hero-dot {
  width: 100%;
  height: 100%;
  z-index: 960;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  transform: translate(0, 625px);
}

.card-02-btn {
  margin: 2rem 0 2rem 0;
  font-size: 32px;
  border: 1px solid var(--background-color-01);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--btn-color);
  color: var(--font-color-02);
  cursor: pointer;
}

.card-02-btn:hover {
  background-color: var(--btn-color-hover);
}

.logo {
  width: 40rem;
  height: 40rem;
  object-fit: fill;
  transition: 1s;
  cursor: default;
  animation: movetop;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 1s;
  transition: 1s;
  opacity: 0;
}

.hero-title {
  display: flex;
  /* position: absolute; */
  font-size: 84px;
  font-style: italic;
  animation: fadeintitle;
  animation-delay: 1.75s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  font-family: "Lora", serif;
  user-select: none;
  transition: 0.2s;
  z-index: 950;
}

.title-01 {
  user-select: none;
  animation: titlefade01;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.packages-wrapper {
  width: 100%;
  height: 100%;
  animation: fadeimgpackage;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.packages-card-02 {
  height: 50rem;
  background-color: var(--background-color-02);
  width: 100%;
}

.packages-card-02-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.packages-card-02-info {
  width: 50vh;
}

.packages-card-02-img {
  display: flex;
  align-items: center;
  width: 50vh;
  justify-content: center;
}

.pacakges-card-02-info-title {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 52px;
  text-align: start;
  font-weight: bold;
}

.packages-card-02-info-details-title {
  margin-left: 2rem;
  font-size: 18px;
}

.packages-card-02-info-details-bullets {
  margin: 1rem 0 0 3rem;
  font-size: 17px;
}

.packages-card-02-item-img {
  transition: 0.2s;
  object-fit: contain;
  width: 60%;
  border: 1px solid transparent;
  border-radius: 15px;
}

.packages-card-01 {
  height: fit-content;
  background-color: var(--background-color-01);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.packages-card-01-title {
  user-select: none;
  font-size: 72px;
  text-align: center;
  color: var(--font-color-04);
  font-weight: bold;
}

.packages-card-01-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.packages-card-01-item {
  border: 1px solid var(--border-color-01);
  border-radius: 15px;
  margin: 1rem;
  padding: .5rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.packages-card-01-item-title {
  width: 100%;
  color: var(--font-color-04);
  font-size: 32px;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.packages-card-01-item-img {
  transition: 0.2s;
  object-fit: contain;
  width: 25rem;
  border: 1px solid transparent;
  border-radius: 15px;
}

@keyframes fadeimgpackage {
  100% {
    opacity: 1;
  }
}

.packages-card-01-item-info {
  color: var(--font-color-04);
}

#bullet {
  left: 10px;
}

@keyframes titlefade01 {
  100% {
    opacity: 1;
  }
}

.title-02 {
  user-select: none;
  padding: 0 2rem 0 2rem;
  animation: titlefade02;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes titlefade02 {
  100% {
    opacity: 1;
  }
}

.title-03 {
  user-select: none;
  animation: titlefade03;
  animation-duration: 0.5s;
  animation-delay: 3s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: right;
}

@keyframes titlefade03 {
  100% {
    opacity: 1;
  }
}

.hero-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
  z-index: 950;
  animation: fadetext;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadetext {
  100% {
    opacity: 1;
  }
}

.hero-btn {
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--btn-color);
  transition: 0.2s;
  cursor: pointer;
  color: var(--font-color-02);
}

.hero-btn:hover {
  background-color: var(--btn-color-hover);
}

.book-now-btn {
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 32px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--btn-color);
  transition: 0.2s;
  cursor: pointer;
  color: var(--font-color-02);
}

.book-now-btn:hover {
  background-color: var(--btn-color-hover);
}

.img-card {
  width: 50%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px var(--background-color-04);
}

@keyframes fadeintitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo:hover {
  scale: 1.1;
}

@keyframes movetop {
  30% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

#carouselExampleDark {
  width: 100%;
  min-width: 100vh;
}

.carousel-inner {
  height: 32rem;
}

.card-01 {
  background-image: linear-gradient(
    var(--background-color-02) 90%,
    var(--background-color-01)
  );
  color: var(--font-color-01);
  height: 33rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  user-select: none;
}

p {
  color: white;
  font-style: italic;
}

.carousel-img {
  height: 32rem;
  object-fit: cover;
  width: 100%;
  min-width: 100vh;
  opacity: 0.5;
}

.card-02 {
  /* background-color: var(--background-color-02); */
  color: var(--font-color-02);
  background-color: var(--background-color-02);
  height: 44rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-03 {
  /* background-color: var(--background-color-02); */
  color: var(--font-color-02);
  height: 60rem;
  user-select: none;
  display: flex;
  align-items: center;
}

.card-info-01 {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  width: 100%;
  height: 50%;
}

.card-info-01-text {
  user-select: none;
  font-family: "Lora", serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  width: 100%;
  margin-top: 2rem;
  color: var(--font-color-04);
  font-weight: bold;
}

.card-info-sub-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vh;
  color: var(--font-color-04);
  height: 15rem;
}

.card-info-sub-title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.card-info-sub-desc {
  margin-top: 2rem;
  font-size: 18px;
  color: var(--font-color-01);
  height: 30%;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-icon {
  height: 100%;
  padding: 1rem 3rem 0 3rem;
}

.card-info-02-text {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  width: 100%;
  margin-top: 6rem;
  color: var(--font-color-04);
  font-weight: bold;
}

.card-03-container {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  color: var(--font-color-04);
}

.card-03-info {
  color: var(--font-color-01);
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  width: 30%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.card-03-info-item-03 {
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--btn-color);
  transition: 0.2s;
  cursor: pointer;
  color: var(--font-color-02);
  margin-top: 2rem;
}

.card-03-info-item-03:hover {
  background-color: var(--btn-color-hover);
}

.card-03-img {
  margin-right: 2%;
  transition: 0.2s;
  object-fit: contain;
  width: 40rem;
  border: 1px solid transparent;
  border-radius: 15px;
}

#accordion {
  margin-top: 2rem;
  font-size: 16px;
  font-family: "Lora", serif;
  text-decoration: none;
  width: 20rem;
}

.card-body {
  text-align: start;
}

#btn-collapse-link {
  color: var(--font-color-01);
}

.card-item-02 {
  border: 2px solid var(--border-color-01);
  border-radius: 15px;
  height: 80%;
  align-items: center;
}

.card-item-01 {
  border-radius: 15px;
  height: 80%;
  align-items: center;
}

.card-03-item-01 {
  border-radius: 15px;
  height: 80%;
  align-items: center;
}

.contact-wrapper {
  height: 95rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  user-select: none;
  color: #fff;
  width: 80%;
  height: 80%;
  border-radius: 50px;
  /* background-color: rgb(243, 243, 243); */
  display: flex;
  flex-direction: column;
  animation: abouttitleFadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.contact-title {
  text-align: start;
  font-size: 52px;
}

.form-contact-title {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}

input{
  border: 1px solid var(--border-color-01);
}

.form-contact {
  display: flex;
  flex-direction: column;
  border-top: none;
}

.form-contact-item-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0.5rem;
}

.form-container {
  font-size: 24px;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container-02 {
  font-size: 24px;
  margin-top: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container-03 {
  font-size: 24px;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-contact-item-03 {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.form-contact-item-02 {
  display: flex;
  flex-direction: column;
  height: 5rem;
  align-items: center;
}

.form-submit {
  width: 10rem;
  font-size: 24px;
  border-radius: 15px;
  border: none;
  color: var(--font-color-02);
  background-color: var(--background-color-01);
  transition: 0.2s;
  margin: auto;
}

.form-submit:hover {
  background-color: var(--font-color-01);
  color: var(--background-color-02);
}

.about-wrapper {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 100%;
  align-items: center;
  animation: abouttitleFadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.about-title {
  font-family: "Lora", serif;
  color: var(--font-color-01);
  width: 40rem;
  text-align: center;
  font-size: 72px;
  border-bottom: 1px solid #fff;
  height: 6rem;
}

@keyframes abouttitleFadein {
  100% {
    opacity: 1;
  }
}

.about-item-01 {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 80%;
  margin-top: 2rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.about-item-02 {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 80%;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.about-item-03 {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 80%;
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
}

.about-item-03 {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 80%;
  border-bottom: 1px solid #fff;
}

.about-item-img {
  width: 30rem;
  height: 70%;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px var(--background-color-04);
}

.about-item-info {
  font-family: "Lora", serif;
  color: var(--font-color-02);
  width: 30rem;
}

.about-item-title {
  font-size: 32px;

  font-family: "Lora", serif;
  color: var(--font-color-02);
  border-bottom: 1px solid #fff;
}

.about-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 2rem;
}

.about-info-container-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 2rem;
}

.faq-wrapper {
  animation: fadeimgpackage;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}

.faq-card-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 100%;
  background-color: var(--background-color-01);
}

.faq-card-01-title {
  user-select: none;
  font-size: 62px;
  color: var(--font-color-04);
}

.faq-card-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "breathing";
  src: local("breathing"), url(./fonts/Breathing.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.link-icon {
  transition: 0.2s;
  font-size: 32px;
  color: var(--font-color-04);
  margin-left: 1rem;
  width: max-content;
  font-family: "breathing";
}

.icontitle {
  font-family: "breathing";
  margin-bottom: 5rem;
  font-size: 82px;
  animation: fadeout;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 1000;
  color: var(--font-color-01);
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link-icon:hover {
  color: var(--btn-color-hover);
}

.booknow-checkbox {
  margin-right: 1rem;
}

.booknow-list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--background-color-01);
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.booknow-list-item:hover {
  background-color: var(--border-color-02);
}

.booknow-list-loc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--background-color-01);
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.booknow-list-loc:hover {
  background-color: var(--border-color-02);
}

.booknow-review-loc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 1rem;
  border: 1px solid var(--background-color-01);
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.booknow-review-loc:hover {
  background-color: var(--border-color-02);
}

.faq-list {
  margin-right: 2rem;
  height: fit-content;
}

.faq-list-hide {
  display: none;
  visibility: hidden;
}

.faq-item-header {
  user-select: none;
  font-size: 32px;
  color: var(--font-color-01);
  width: 100%;
  margin-right: 2rem;
  border-bottom: 1px solid var(--border-color-01);
  border-top: 1px solid transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* border-radius: 5px; */
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: 0.2s;
}

.faq-item-header:hover {
  background-color: var(--border-color-02);
}

@keyframes colorfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-item {
  transition: 0.2s;
  margin-right: 2rem;
  list-style: none;
}

.faq-item-show {
  transition: 0.2s;
  list-style: none;
  animation: colorfade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: center;
  border-bottom: 1px solid var(--border-color-01);
  padding-bottom: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.faq-item-header-hide {
  user-select: none;
  font-size: 32px;
  color: var(--font-color-01);
  width: 100%;
  margin-right: 2rem;
  border-bottom: 1px solid var(--border-color-01);
  border-top: 1px solid transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* border-radius: 5px; */
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: 0.2s;
}

#faq-dropdowncollapse {
  margin-top: 2rem;
  width: 60%;
}

.booking-wrapper {
  animation: fadeimgpackage;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}

.booking-card-01 {
  height: fit-content;
  background-color: var(--background-color-01);
  display: flex;
  flex-direction: column;
  color: var(--font-color-04);
  align-items: center;
  margin-bottom: 5rem;
}

.booking-card-01-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin-top: 4rem;
}

.booking-card-01-item-03-sub {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin-top: 4rem;
}

.booking-card-01-item-01 {
  font-size: 52px;
  text-align: center;
  margin-top: 6rem;
  padding: 0 3rem 0 3rem;
  border-bottom: 1px solid var(--border-color-01);
}

.booking-card-01-item-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-card-01-item-02-title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 32px;
  padding: 0 3rem 0 3rem;
  border-bottom: 1px solid var(--border-color-01);
}

.booking-card-01-item-02-info {
  font-size: 22px;
  text-align: center;
  margin: 0 1rem 2rem 1rem;
}

.booking-card-01-item-03-info {
  text-align: start;
  margin: 1rem 1rem 1rem 1rem;
  width: 100%;
}

.booking-card-01-item-03-desc {
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  font-size: 22px;
}

.booking-card-02 {
  height: fit-content;
  background-color: var(--background-color-02);
  color: var(--font-color-04);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.booking-card-02-item-info {
  margin-bottom: 1rem;
}

.booking-card-02-title {
  margin-bottom: 2rem;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}

.booking-card-02-form {
  width: 100%;
}

.booking-card-02-form-data {
  width: 30rem;
  padding: 1rem;
  border-radius: 15px;
  text-align: start;
  background-color: var(--background-color-05);
}

.booking-card-02-form-data-name {
  user-select: none;
  margin: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  border-bottom: 1px solid var(--border-color-01);
}

.booking-card-02-form-data-desc {
  border-radius: 15px;
  background-color: var(--background-color-02);
  text-align: start;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 16px;
  color: var(--font-color-05);
}

.booking-card-02-form-data-click {
  margin: 1rem;
  border-radius: 15px;
}

.booking-card-02-form-data-click:hover {
  background-color: var(--background-color-02);
}

.booking-list-item {
  margin: 1rem;
}

.booking-card-02-form-data-input {
  margin: 0.5rem 1rem 0 1rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  width: 90%;
  font-size: 16px;
}

.booking-card-02-form-data-input-more-info {
  margin: 0.5rem 1rem 0 1rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  width: 90%;
  font-size: 16px;
  height: 5rem;
  resize: none;
}

.booking-card-02-form-data-hover {
  margin: 0.5rem 1rem 0 1rem;
  border-radius: 5px;
  padding: 1rem;
  width: 90%;
  transition: 0.2s;
  cursor: pointer;
}

.booking-card-02-form-data-hover:hover {
  background-color: var(--background-color-02);
}

.booking-card-02-form-data-check {
  margin-right: 1rem;
}

.booking-card-02-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-card-02-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 5rem;
}

.submit-button-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  padding-right: 5rem;
}

.submit-button {
  padding: 1rem;
  color: var(--font-color-02);
  background-color: var(--btn-color);
  cursor: pointer;
  border-radius: 15px;
  transition: 0.2s;
  border: none;
}

.submit-button:hover {
  background-color: var(--btn-color-hover);
}

.link-booking {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: var(--btn-color);
  transition: 0.2s;
  cursor: pointer;
  color: var(--font-color-02);
  margin-top: 1rem;
}

.link-booking:hover {
  color: var(--font-color-02);
  background-color: var(--btn-color-hover);
}

#booking-form-container {
  margin-top: 2rem;
}

label {
  font-size: 18px;
}

.booking-form-input {
  margin-top: 1rem;
}

.dropdown {
  margin-top: 0.2rem;
}

.booknow-wrapper {
  height: fit-content;
  width: 100%;
}

.booknow-btn-container {
  display: flex;
  justify-content: space-between;
}

.booknow-btn {
  margin: 1rem;
  border: 1px solid var(--background-color-01);
  background-color: var(--btn-color);
  color: var(--font-color-02);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.booknow-btn:hover {
  background-color: var(--btn-color-hover);
}

.booknow-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.package-button-container {
  margin-top: 2rem;
}

.menu-item {
  font-size: 24px;
  padding: 1rem;
  margin: 0.5rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color-01);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--border-color-02);
}

.new-booking-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-booking-item {
  padding: 1rem;
  margin: 1rem;
}

.booknow-container-sub {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  color: var(--font-color-01);
  display: flex;
  flex-direction: column;
}

.booknow-container-sub-item-title {
  text-align: center;
  font-size: 42px;
  color: var(--font-color-04);
  width: 100%;
  margin-bottom: 4rem;
}

.booknow-container-sub-item-info {
  text-align: center;
}

.booking-btn {
  width: fit-content;
  text-align: center;
}

.package-description {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 24px;
}

.checkbox-desc {
  width: fit-content;
  text-align: center;
}

.checkbox-loc {
  width: 10rem;
  text-align: center;
}

.booking-review-container-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.booking-input-custom {
  border-bottom: 1px solid var(--border-color-01);
}

.booking-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--border-color-02);
  margin-bottom: 0.5rem;
}

.booking-container-wrapper-02 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.packages-info-title{
  font-size: 42px;
  color: var(--font-color-04);
}

.loc-list-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--border-color-01);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.booknow-data-display {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: var(--font-color-04);
}

.booknow-data-loc-display {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  color: var(--font-color-04);
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color-01);
}

.booknow-data-custom-loc-display {
  /* margin-top: 2rem;
  padding-top: 1rem; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--font-color-04);
  margin-bottom: 2rem;
  /* border-top: 1px solid var(--border-color-01); */
}

.booknow-data-display-item-info {
  font-size: 28px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.booknow-purpose-input {
  font-size: 32px;
  text-align: center;
  width: 100%;
  height: 5rem;
}

@media only screen and (max-width: 1499px) {
  .hero-background-container-01 {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  .hero-background-container-02 {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  .hero-background-img-01 {
    transform: translate(30%, -30%);
    width: 20rem;
  }

  .hero-background-img-02 {
    transform: translate(30%, -10%);
    width: 20rem;
  }

  .hero-background-img-03 {
    transform: translate(-20%, -20%);
    width: 20rem;
  }

  .hero-background-img-04 {
    transform: translate(-20%, -30%);
    width: 20rem;
  }
}

@media only screen and (max-width: 1225px) {
  .hero-title {
    font-size: 50px;
    font-weight: bold;
  }

  .packages-card-01 {
    height: fit-content;
  }

  .packages-card-01-container {
    flex-direction: column;
    align-items: center;
  }

  .packages-card-02 {
    height: fit-content;
  }

  .packages-card-02-container {
    padding-bottom: 2rem;
  }

  .packages-card-02-img {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1016px) {
  .booking-card-01-container {
    grid-template-columns: auto;
  }

  .booking-card-01 {
    height: fit-content;
    margin-bottom: 3rem;
  }

  .booking-card-01-item-02-title {
    margin-top: 2rem;
  }

  .booking-card-02-form {
    width: 100%;
  }

  .booking-card-02 {
    display: flex;
  }

  .about-title {
    font-size: 52px;
    width: 24rem;
  }

  .about-item-01 {
    flex-direction: column;
    height: 80vh;
  }

  .about-item-02 {
    flex-direction: column-reverse;
    height: 80vh;
  }

  .about-item-03 {
    flex-direction: column;
    height: 80vh;
  }

  .about-info-container {
    align-items: center;
    width: 24rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .about-info-container-02 {
    align-items: center;
    width: 24rem;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 3rem;
  }

  .about-item-info {
    width: 25rem;
  }

  .about-item-img {
    width: 26rem;
  }

  .card-03-container {
    flex-direction: column;
  }

  .card-03-img {
    position: absolute;
    z-index: 900;
    opacity: 0.3;
  }

  .card-03-info {
    z-index: 950;
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .item-01 {
    margin: 0 3rem 0 3rem;
  }

  .card-info-02-text {
    margin-top: 9rem;
  }

  .card-02 {
    height: 55rem;
  }

  .faq-card-01-title {
    font-size: 34px;
  }

  .faq-card-01 {
    height: 10rem;
  }

  .card-header {
    height: 100%;
    width: 100%;
  }

  #btn-collapse-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 530px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 730px) {
  .booking-card-01-item-02-info {
    font-size: 16px;
  }

  .booking-card-01-item-03-desc {
    font-size: 16px;
  }

  .booking-card-01-item-01 {
    font-size: 32px;
  }

  .booking-card-01-item-02-title {
    font-size: 26px;
  }

  .booking-card-02-title {
    font-size: 36px;
  }

  .booking-card-01-container {
    margin-top: 2rem;
  }

  .nav-container-item-02 {
    visibility: visible;
    display: contents;
    height: fit-content;
  }

  .nav-container-contents {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 100%;
  }

  .nav-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
  }

  .nav-bar-button {
    z-index: 1000;
  }

  .nav-container-item-01 {
    z-index: 900;
    display: none;
    visibility: hidden;
  }

  .pacakges-card-02-info-title {
    font-size: 32px;
    text-align: center;
  }

  .packages-card-02-info-details-title {
    text-align: center;
    margin-left: 0;
  }

  .packages-card-02-info-details-bullets {
    margin: 0 0.5rem 0 0.5rem;
    text-align: justify;
  }

  .hero-title {
    font-size: 48px;
    font-weight: bold;
    transform: translateY(-35%);
    flex-direction: column;
  }

  .hero {
    height: 40rem;
    justify-content: center;
  }

  .hero-background {
    height: min-content;
  }

  .logo {
    transform: translate(-40%);
  }
  .card-02 {
    height: 55rem;
    flex-direction: column;
  }

  .card-03 {
    height: 50rem;
  }

  .projects-wrapper {
    height: 60rem;
  }

  .projects-info {
    font-size: 42px;
  }

  .card-info-01-text {
    justify-content: center;
  }

  .card-info-02-text {
    justify-content: center;
    margin-top: 2rem;
  }

  .item-01 {
    margin: 0 1rem 0 2rem;
  }

  .card-info-sub-desc {
    /* height: ; */
  }

  .carousel-img {
    height: 2rem;
  }
  .card-item-01 {
    font-size: 28px;
  }

  .contact-text-area {
    width: 20.5rem;
  }

  .contact-wrapper {
    height: 75rem;
  }

  .hero-btn-container {
    height: 6rem;
  }

  .hero-btn {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  .hero-background-container-01 {
    margin-left: 2rem;
    margin-top: 10rem;
  }

  .hero-background-container-02 {
    margin-left: 2rem;
    margin-top: 10rem;
  }

  .hero-background-img-01 {
    transform: translate(30%, -40%);
    object-fit: fill;
    width: 20rem;
    height: 15rem;
  }

  .hero-background-img-02 {
    transform: translate(90%, -250%);
    object-fit: fill;
    width: 15rem;
    height: 10rem;
  }

  .hero-background-img-03 {
    transform: translate(-85%, 0%);
    object-fit: fill;
    width: 15rem;
    height: 10rem;
  }

  .hero-background-img-04 {
    transform: translate(-45%, 50%);
    object-fit: fill;
    width: 20rem;
    height: 15rem;
    /* object-position: calc(50%) calc(50%); */
  }

  .card-info-01 {
    flex-direction: column;
    height: 66%;
  }

  .card-info-sub-01 {
    height: 11rem;
    width: 80%;
  }

  .card-03-img {
    width: 30rem;
    transform: translate(0%, -10%);
  }

  .card-03-info-item-01 {
    font-size: 24px;
  }

  .card-03-info-item-01 {
    font-size: 18px;
  }

  .package-title {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  li {
    font-size: 14px;
  }

  #btn-collapse-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 230px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 480px) {

  .submit-button-container{
    margin-top: 1rem;
    padding-right: 0;
    justify-content: center;
  }

  .booking-card-02-form-data{
    width: 21rem;
  }

  .booking-list-item{
    font-size: 16px;
  }

  .booking-card-02-form-data-name{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: start;
  }

  .booking-card-02-form-data-desc{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .booking-card-02-title{
    font-size: 28px;
  }

  .card-03-img {
    width: 80%;
  }

  .faq-card-01-title {
    font-size: 28px;
  }

  #accordion {
    width: 18rem;
  }

  .packages-card-01-title {
    font-size: 32px;
  }

  .packages-card-01-item-img {
    width: 15rem;
  }

  .packages-card-01-item {
    width: 100%;
  }

  #btn-collapse-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 379px) {
  .booking-card-02-form-data-hover{
    text-align: start;
  }

  .booking-card-02-form-data-input{
    width: 10rem;
    padding: 0;
    margin: 0;
  }

  .booking-card-02-form-data-hover{
    font-size: 15px;
  }

  .booking-card-02-form-data{
    width: 22rem;
    padding: .5rem
  }

  .booking-list-item{
    font-size: 16px;
  }

  .booking-card-02-form-data-name{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: start;
  }

  .booking-card-02-form-data-desc{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .booking-card-02-title{
    font-size: 28px;
  }

  .card-02 {
    height: 84rem;
  }

  .link-icon {
    font-size: 18px;
  }

  .faq-item-header {
    font-size: 18px;
  }

  .faq-card-01-title {
    font-size: 18px;
  }

  .faq-item-show {
    font-size: 14px;
  }

  .card-info-sub-01 {
    height: 18rem;
    width: 80%;
    margin-top: 4rem;
  }

  .book-now-btn {
    font-size: 22px;
  }

  .booking-card-02-title {
    font-size: 24px;
  }

  .card-info-01 {
    justify-content: flex-start;
    height: 70%;
  }

  .card-03-container {
    overflow-y: hidden;
  }

  .card-03 {
    height: fit-content;
    flex-direction: column;
  }

  #accordion {
    width: 14rem;
  }

  .card-03-info-item-01 {
    font-size: 14px;
  }

  .package-title {
    width: 100%;
    font-size: 11px;
    text-align: center;
  }

  li {
    font-size: 12px;
  }

  @media only screen and (max-width: 340px) {
    .booking-card-02-form-data{
      width: 17rem;
    }

    .booking-card-02-form-data-input{
      width: 15rem;
      text-align: center;
    }
  } 
}
